.mt-1{
    margin-top: 10px;
}

.pt-1{
    padding-top: 10px;
}

.mt-3{
    margin-top: 30px;
}

.mt-8{
    margin-top: 80px;
}

.mb-1{
    margin-bottom: 10px;
}

.btn-choice-year, .btn-choice-community, .btn-choice-community-2, .btn-choice-year-2{
    background-color: #F8F8F8 !important;
    border: 1px solid lightgray;
}

.carousel-control.right, .carousel-control.left{
    background-image: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,0) 100%) !important;
}

.visit{
    background-color: darkgray;
    color: white !important;
}

li a:hover{
    background-color: darkgray !important;
    color: white !important;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.mh{
    min-height: 106px !important;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 500px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border:1px black solid;
}

.txt-c{
    text-align: center;
}

select[multiple], select[size]{
    height: 140px !important;
}